@font-face {
  font-family: 'orphans';
  src: url('../fonts/orphans/orphans.eot');
  src: url('../fonts/orphans/orphans.eot?#iefix') format('embedded-opentype'),
  	   url('../fonts/orphans/orphans.svg#orphans-bold') format('svg'),
       url('../fonts/orphans/orphans.ttf') format('truetype'),
       url('../fonts/orphans/orphans.woff') format('woff'),
       url('../fonts/orphans/orphans.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}



body {
	min-width: 320px;
}
h1,h2,h3,h4 {
	font-weight: bold;
  	font-family: 'orphans';
}
.top-header-section {
	min-width: 320px;

}
.about-us .right-content .wrapper .ceo-info {
	    padding: 65px 0 65px;
}
.about-us .right-content .wrapper .ceo-info .info {
	padding: 0;
	display: flex;
	align-items: center;
}
.about-us .right-content .wrapper .ceo-info .ceo-image {
	width: 100px;
	height: 100px;
}
.about-us .right-content .wrapper .ceo-info .name {
	padding-top: 0;
}
.our-event .main-wrapper table td.check-button {
    text-align: right;
}
.latest-articles {
	background-image: url(../images/home/bg_idance.jpg);
}
.title-contacts {
	padding-top: 0 !important;
}
.footer-information a {
	color: #fff;
}
.footer-information a:hover {
	color: #ff8a73;
}
.phone-mobile a {
	color: #fff;
	font-size: 16px;
	font-weight: bold;
}
.phone-mobile {
	margin-left: 30px;
	display: none;
	z-index: 5;
}
.search-option {
	margin: 0 0px 0 60px;
}

.insta__feed-img {
	height: 270px;
	overflow: hidden;
}