@font-face {
  font-family: 'orphans';
  src: url('../fonts/orphans/orphans.eot');
  src: url('../fonts/orphans/orphans.eot?#iefix') format('embedded-opentype'),
  	   url('../fonts/orphans/orphans.svg#orphans-bold') format('svg'),
       url('../fonts/orphans/orphans.ttf') format('truetype'),
       url('../fonts/orphans/orphans.woff') format('woff'),
       url('../fonts/orphans/orphans.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}



body {
	min-width: 320px;
}
h1,h2,h3,h4,.modal-title {
	font-weight: bold;
  	font-family: 'orphans';
}
h4,h2 {
	margin-bottom: 1rem;
}
.theme-inner-banner {
	padding: 170px 0 50px;
	overflow: hidden;
}
.theme-inner-banner .title {
	font-size: 72px;
}
.theme-inner-banner .bg-shape {
	bottom: -300px;
}

#mega-menu-holder > ul > li > a {
	margin: 0 10px;
}
.banner-one .camera_overlayer {
	opacity: 0.9;
}
.top-header-section {
	min-width: 320px;
	padding-top: 15px;

}
.inline-list {
	margin-bottom: 1rem;
}
.inline-list li {
	display: inline-block;
	margin-right: 20px;
	font-size: 20px;
}
.inline-list li:last-child {
	margin-right: 0;
}
p {
	margin-bottom: 1rem;
}
p:last-child {
	margin-bottom: 0;
}
.top-header-section.fixed {

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    -webkit-animation: sticky 0.5s;
    -moz-animation: sticky 0.5s;
    -o-animation: sticky 0.5s;
    animation: sticky 0.5s; 
}
.about-us .right-content .wrapper .ceo-info {
	    padding: 65px 0 65px;
}
.about-us .right-content .wrapper .ceo-info .info {
	padding: 0;
	display: flex;
	align-items: center;
}
.about-us .right-content .wrapper .ceo-info .ceo-image {
	width: 100px;
	height: 100px;
}
.about-us .right-content .wrapper .ceo-info .name {
	padding-top: 0;
}
.our-event .main-wrapper table td.check-button {
    text-align: right;
}
.latest-articles {
	background-image: url(../images/home/bg_idance.jpg);
	margin-bottom: 385px;
}
.title-contacts {
	padding-top: 0 !important;
}
.footer-information a {
	color: #fff;
}
.footer-information a:hover {
	color: #ff8a73;
}
.phone-mobile i{
	display: inline-block;
	margin-right: 10px;
	font-size: 20px;
}
.phone-mobile.head-fixed {
	display: none;
	margin-left: 30px;
}
.phone-mobile.head-fixed a {
	display: inline-block;
	margin: 0;
	font-size: 18px;
}
.top-header-section.fixed .phone-mobile.head-fixed {display: inline-block;}
.phone-mobile a {
	color: #fff;
	font-size: 16px;
	font-weight: bold;
}
.phone-mobile {
	color: #fff;
	margin-right: 40px;
	font-size: 16px;
	font-weight: bold;
	/*display: none;*/
	z-index: 5;

}
.phone-mobile:last-child {
	margin-right: 0;
}
.top-header-section.fixed .preheader{display: none;}
.preheader {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: end;
	padding: 0px 0 15px 0;
	margin-bottom: 15px;
	/*border-bottom: 1px solid #fff;*/
	 transition: all ease 0.3s;
}
.preheader:after {
	position: absolute;
	top: 53px;
	width: 100%;
	left: 0;
	content: "";
	height: 1px;
	background-color: rgba(255,255,255, 0.3);
}
#mega-menu-holder > ul > li > a {
	padding: 5px 0 2px;
}
.search-option {
	margin: 0 0px 0 60px;
}

.insta__feed-img {
	height: 270px;
	overflow: hidden;
}
.our-classes .main-container .single-block .text {
	padding-top: 30px;
}
.our-classes .main-container .single-block .text h6 a {
	margin-top: 0;
}
.section-spacing {
	padding-top: 100px;
}
.single-team-member {
	box-shadow: 0px 15px 60px 0px rgba(254, 206, 196, 0.35);
}
.single-team-member-info {
	padding: 0px 20px;
}
.owl-carousel .owl-controls .owl-nav .owl-prev, 
.owl-carousel .owl-controls .owl-nav .owl-next, 
.owl-carousel .owl-controls .owl-dot {
	font-size: 0;
	width: 60px;
	height: 60px;
	position: absolute;
	top: calc(50% - 60px);
	border-radius: 0;
	background:rgba(0,0,0,0.5);
	font-family: 'font-awesome';
	color:rgba(255,255,255, 0.6);
}
.owl-carousel .owl-controls .owl-nav .owl-prev {
	left: -35px;
}
.owl-carousel .owl-controls .owl-nav .owl-prev:before {
	left: -35px;
	content:'\f104';
	font-family: 'font-awesome';
	font-size: 28px;
	line-height: 52px;
}
.owl-carousel .owl-controls .owl-nav .owl-next {
	right: -35px;
}
.owl-carousel .owl-controls .owl-nav .owl-next:before {
	right: -35px;
	content:'\f105';
	font-family: 'font-awesome';
	font-size: 28px;
	line-height: 52px;
}
.button-menu {
    border-radius: 30px;
    background: transparent;
	font-size: 18px !important;
	font-weight: 600;
	padding-left: 45px;
	color:#fff !important;
	transition: all .3s ease-in-out;
	padding: 0 20px !important;
	height: 45px;
	line-height: 44px;
	margin-top: 6px !important;
	border: 1px solid;
}
.dark-color .button-menu {
	color: #000 !important;
}
.dark-color .left-widget a {
	color: #000 !important;
}
.button {
	width: 200px;
    height: 60px;
    color: #fff;
	font-weight: 600;
	background: #8161f5;
	/*margin-top: 30px;*/
	transition: all .3s ease-in-out;
}
.button:hover {
	background: #ff8a73;
}
.preheader.dark-color a,.preheader.dark-color i,.preheader.dark-color .phone-mobile{color:#1b1b1b;}
.preheader.dark-color::after{background-color: rgba(0,0,0, 0.1);}
.left-widget {
	float: left;
	display: flex;
	align-items: center;
}
.img-class {
	width: 100%;
	height: 100%;
	min-height: 350px;
	overflow: hidden;
}
.text p {
	margin-bottom: 1rem;
}
.text p:last-child {
	margin-bottom: 0;
}
.single-blog-post .img-box {
    height: 450px;
    overflow: hidden;
    display: flex;
	flex-wrap: wrap;
	align-content: center;
}
.rental-container {
	text-align: center;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
	align-content: center;
}

.rental-container  div {
	flex: 0 0 100%;
	font-size: 18px;
}
.rental-img {
	margin: auto;
	width: 80px;
	height: 80px;
	margin-bottom: 20px;
}

.rental-img img {
	width: 100%;
	height: 100%;
}
.our-class-details .class-banner {
	box-shadow: 0px 23px 45px 0px rgba(197, 197, 197, 0.45);
}
.our-class-details .class-banner .shape {
	width: 136px;
	height: 240px;
}
.rental__price {
	height: 100%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
	box-shadow: 0px 23px 45px 0px rgba(197, 197, 197, 0.45);
	background: #faf9f9;
	align-content: start;
}
.rental__price-header {
	padding: 30px 0;
	text-align: center;
	color: #fff;
	background-color: #7c5ffa;
	flex: 0 0 100%;
	max-width: 100%;
}
.rental__price-header h4{
	margin-bottom: 0;
	color: #fff;
}
.rental__price-text {
	padding: 30px 20px;
	flex: 0 0 100%;
	max-width: 100%;
}
.rental__price-text ul{
	list-style-type: none;
	padding: 0;
	margin: 0;

	text-align: center;
}
.rental__price-text ul li {
	margin-bottom: 15px;
	font-size: 18px;
	display: block;
}
.rental__price-text ul li strong {
	font-size: 20px;
}
.rental__price-text ul li:last-child {
	margin-bottom: 0;
}
.rental__price-pay {
	border: 4px solid #eaeaea;
	padding: 40px 30px;
}

.rental__price-pay p {
	margin-bottom: 1rem;
}
.rental__price-pay .nice-select {
	margin-top: 20px;
}
.nice-select {
	float: none;
	display: inline-block;
	font-size: 16px;
	border: 1px solid #c6c6c6;
}
/*.modal-backdrop {z-index: 98;}*/
.modal-body.contact-form {padding-top: 30px;}
.modal-content{border-radius:0;}
a.single-item {display: block;}

.efbl_story_text,.efbl_fb_story .efbl_story_meta {
    display: none !important;

}
.efbl_popupp_footer {
	border-radius: 0 !important;
}
.efbl_popup_readmore {
    margin-top: 10px;
    border-bottom: 1px solid;
}
@keyframes sticky {
  0% {
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%); }
  100% {
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
    transform: translateY(0%); } }
@-webkit-keyframes sticky {
  0% {
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%); }
  100% {
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
    transform: translateY(0%); } }
@-o-keyframes sticky {
  0% {
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%); }
  100% {
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
    transform: translateY(0%); } }
@-moz-keyframes sticky {
  0% {
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%); }
  100% {
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
    transform: translateY(0%); } }
@-ms-keyframes sticky {
  0% {
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%); }
  100% {
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
    transform: translateY(0%); } 
}




/*********************************************************MEDIA****/

@media (max-width:1144px) {
	#mega-menu-holder > ul > li > a {
		font-size: 14px !important;
    	padding: 12px 0 2px;
	}
	.top-header-section.fixed .phone-mobile.head-fixed {
		margin-left: 10px;
	}
	.phone-mobile.head-fixed a,.phone-mobile.head-fixed i {
		font-size: 14px;
	}
}
@media (max-width: 991px) {
	.theme-inner-banner {
		padding: 200px 0 50px;
	}
	.img-class {min-height: auto; margin-bottom: 20px;}
	.rental__price,.rental-container {
		margin-bottom: 20px;
	}
	#mega-menu-holder {
		max-height: 380px;
		overflow-y: visible;
	}
	#mega-menu-holder > ul > li > a {

    	padding: 5px 10px 2px;
    	margin: 0;

	}
	#mega-menu-holder > ul > li > a.button-menu {
		border: none !important;
    	padding: 5px 10px 2px !important;

	}
}
@media (max-width: 768px) {
	.phone-mobile a {
		font-size: 14px;
	}
	.phone-mobile {
		font-size: 14px;
	}
	.phone-mobile.head-fixed a{
		font-size: 16px;
	}
}
@media (max-width: 564px) {
	.top-header-section.fixed .phone-mobile.head-fixed {
	    margin-left: 0;
	}
	.phone-mobile.head-fixed i{
		display: none;
	}
	.phone-mobile.head-fixed a{
		font-size: 14px;
	}
}